{%extends "../base.html%}

  {% block content %}
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Bienvenue</a></li>
							<li><a href="#one">News</a></li>
							<li><a href="#three">Le projet</a></li>
						</ul>
					</nav>
				</div>
			</section>

			<div id="wrapper">

					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>The Believer's Quest</h1>
							<p style="text-indent: 40px">Bienvenue à toi chasseur de la coupe sacrée!<br>
					    Ici tu trouveras tous les éléments nécéssaires qui te mènerons au bout de ta quète. Nous te souhaitons bonne chance et <i>"Puisse le sort vous être favorable"</i> (-S. Collins)</p>
						</div>
					</section>

      <section id="one" class="wrapper style2 spotlights">
				{% block nav %}
        <section>
			    <div class="content">
              <h2>News</h2>
              <p> Des posts sont publiés pour que tu puisses suivre l'évolution du projet!</p>
              {%for post in object_list %}
              <div class="table-wrapper">
                 <table>
                   <tbody>
                 <tr><td> {{post.titre}} - {{post.date|date:"d/m/Y"}}</td></tr>
                 <tr><td><blockquote>{{post.texte|linebreaks}}</blockquote></td></tr>
               </tbody>
             </table>
           </div>
              {%endfor%}
          </div>
        </section>
        <section id="three" class= "wrapper style3 spotlights">
            <div class="content">
              <h2><center>Principe du jeu</center></h2>
              <p> Pour tout savoir du jeu!</p>
              <ul class="actions">
                <li><a href="/jeu" class="button">En savoir plus</a></li>
              </ul>
          </div>
          <div class="content">
              <h2><center>MSN²</center></h2>
              <p>Qui sommes nous? Sommes nous vraiment réel?</p>
              <ul class="actions">
                <li><a href="/MSN2" class="button">En savoir plus</a></li>
              </ul>
          </div>
					<div class="content">
							<h2><center>Plus d'informations</center></h2>
							<p>Pour trouver toutes nos informations</p>
							<ul class="actions">
								<li><a href="/dwl" class="button">En savoir plus</a></li>
							</ul>
					</div>
				</section>
				{% endblock %}
      </section>
   {% endblock %}
