{%extends "../base.html%}
{% block content %}
<header id="header">
    <a href="/accueil" class="title">The Believer's Quest</a>
    <nav>
      <ul>
        <li><a href="/accueil">Accueil</a></li>
        <li><a href="/jeu">Principe du jeu</a></li>
        <li><a href="/MSN2">Les développeurs</a></li>
        <li><a href="/dwl" class="active">Plus d'informations</a></li>
      </ul>
    </nav>
  </header>
  <div id="wrapper">
    <section id="main" class="wrapper">
      <div class="inner">
        <h1 class="major">Plus d'informations</h1>
<p style="text-indent: 40px">Tu veux en savoir plus? Ici tu pourras trouver tous nos documents secrets et les logiciels qu'on utilise! <br>
  <h2> Toutes nos ressources</h2>
{% load static %}
   <ul class="actions stacked">
       <li><a href="{% static 'ressources/cahier des charges.pdf'%}" download="THE BELIEVER'S QUEST - CDC" class="button primary icon fa-download">Cahier des charges</a></li>
       <li><a href="{% static 'ressources/cahier_des_charges-LateX.zip'%}" download="THE BELIEVER'S QUEST - CDC LATEX" class="button primary icon fa-download">Cahier des charges avec fichiers LateX</a></li>
       <li><a href="{% static 'ressources/rapport de soutenance.pdf'%}" download="THE BELIEVER'S QUEST - Rapport de soutenance 1" class="button primary icon fa-download">Rapport de soutenance</a></li>
       <li><a href="{% static 'ressources/Rapport_de_soutenance_1.zip'%}" download="THE BELIEVER'S QUEST - Rapport 1 LATEX" class="button primary icon fa-download">Rapport de soutenance 1 avec fichiers LateX</a></li>
       <li><a href="{%static 'ressources/Sprites.zip'%}" download="Sprites TBQ" class="button primary icon fa-download">Nos beaux sprites</a></li>
       <li><a href="{% static 'ressources/Musiques.zip'% }" download="Musiques TBQ" class="button primary icon fa-download">Musiques</a> </li>
   </ul>
   <h2>Nos logiciels</h2>
   <ul class="actions stacked">
   <li><a href="https://store.unity.com" target="_blank" class="button">Télécharger Unity</a></li>
   <li><a href="https://www.image-line.com/downloads/flstudiodownload.html" target="_blank" class="button">Télécharger FL Studio</a></li>
    <li><a href="https://atom.io/" target="_blank" class="button">Télécharger Atom</a></li>
    <li><a href="https://krita.org/fr/" target="_blank" class="button">Télécharger Krita</a></li>
   </ul>
</div>
</section>
</div>

{%endblock%}
