{%extends "../base.html%}
{% block content %}
<h2>Plus d'informations</h2>
<p style="text-indent: 40px">Tu veux en savoir plus? Ici tu pourras trouver tous nos documents secrets (ou pas). Bonne lecture!<br>
{% load static %}
<a href= "{% static 'ressources/cahier des charges.pdf'%}" download="THE BELIEVER'S QUEST - CDC">๑ Cahier des charges</a><br>
<a href= "{% static 'ressources/cahier_des_charges-LateX.zip'%}" download="THE BELIEVER'S QUEST - CDC LATEX">๑ Cahier des charges avec fichiers LateX</a><br>
<a href= "{% static 'ressources/rapport de soutenance.pdf'%}" download="THE BELIEVER'S QUEST - Rapport de soutenance 1">๑ Rapport de soutenance 1</a><br>
<a href= "{% static 'ressources/Rapport_de_soutenance_1.zip'%}" download="THE BELIEVER'S QUEST - Rapport 1 LATEX">๑ Rapport de soutenance 1 avec fichiers LateX</a><br>
<a href="https://store.unity.com" target="_blank">๑ Télécharger Unity</a><br>
<a href="https://www.image-line.com/downloads/flstudiodownload.html" target="_blank">๑ Télécharger FL Studio</a><br>
<a href="{%static 'ressources/Sprites.zip'%}" download="Sprites TBQ">๑ Nos beaux sprites</a><br>
</p>
{%endblock%}
