{%extends "../base.html%}
{% block content %}
<h2>MSN²</h2>
<p1> MSN² est composé de quatre membres. MSN² est le sigle de notre groupe composé de nos "quatre" initiales. Nous nous sommes regroupés car nous nous entendons
très bien et nous avions vraiment envie de travailler tous ensemble sur The Believer's Quest.
Deux d'entre nous se connaissaient avant EPITA mais notre groupe s'est vraiment formé et soudé à
partir de cette première année. Notre groupe est basé sur de la complicité, de la confiance et assez de
sérieux pour mener à bien notre projet. </p1>
<h3>Sarah G.</h3>
<p1>NEVER GONNA GIVE YOU UP	</p1>
<h3>Maxence P.</h3>
<p1>NEVER GONNA LET YOU DOWN</p1>
<h3>Nicolas I.</h3>
<p1>NEVER GONNA RUN AROUND</p1>
<h3>Nicolas L.</h3>
<p1>AND HURT YOU</p1>
{% endblock %}
