{%extends "../base.html%}
{% block content %}
<header id="header">
  <a href="/" class="title">The Believer's Quest</a>
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/jeu">Principe du jeu</a></li>
      <li><a href="/MSN2" class ="active">Les développeurs</a></li>
      <li><a href="/dwl">Plus d'informations</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<div id="wrapper">
  <section id="main" class="wrapper">
    <div class="inner">
<h1 class= "major" >MSN²</h1>
<p style="text-indent: 40px"> MSN² est composé de quatre membres. MSN² est le sigle de notre groupe composé de nos "quatre" initiales. Nous nous sommes regroupés car nous nous entendons
très bien et nous avions vraiment envie de travailler tous ensemble sur The Believer's Quest.
Deux d'entre nous se connaissaient avant EPITA mais notre groupe s'est vraiment formé et soudé à
partir de cette première année. Notre groupe est basé sur de la complicité, de la confiance et assez de
sérieux pour mener à bien notre projet. </p>
<h1 class= "major" >Les membres</h1>
<ul class="alt">
<li><h3>Sarah G.</h3>
<p style="text-indent: 40px">Ma passion pour l'informatique s'est développée quand j'étais assez jeune. J'ai toujours été fascinée
par le fonctionnement des ordinateurs et de tout ce qui est lié à ceux-ci. Je suis aussi une très grande
fan de jeux vidéo,films, séries, comics et musique. J'ai vraiment commencé à programmer il y a à peu
près un an et demi, en attaquant le Java et le HTML. Depuis mon annèe de troisième je savais que
je voulais travailler dans l'informatique et maintenant je suis à EPITA! Ce n'est pas le premier gros
projet que je réalise mais celui-ci est spécial car c'est un jeu-vidéo.</p></li>
<li><br><h3>Maxence P.</h3>
<p style="text-indent: 40px">Ma passion pour l'informatique n'est pas récente. En effet, étant joueur depuis mon plus jeune
âge je me suis très vite intéressé aux différents langages de programmation comme le python ou le C.
Néanmoins j'ai réellement commencé à travailler sur python en première. J'ai continué à étudier Caml
et Python en prépa avant de me tourner vers Epita pour étudier plus en profondeur l'algorithmique et
les langages informatiques. Le code ne reste cependant pas mon occupation première. Je préfère utiliser
des logiciels divers liés au monde du numérique comme FL Studio pour la musique. J'espère pouvoir
mieux comprendre les logiciels et les jeux auxquels je joue après ce projet qui sera mon premier vrai
projet.</p></li>
<li><br><h3>Nicolas I.</h3>
<p style="text-indent: 40px">J'ai vraiment commencé à m'intéresser à la programmation informatique il y a 2 ans. J'aime bien
comprendre comment les choses fonctionnent et depuis bien longtemps je souhaite réaliser un jeu vidéo
par moi-même. Ce projet va me permettre d'évoluer sur plusieurs points. Tout d'abord, la partie
graphique va me permettre d'améliorer mes compétences en dessin et me faire découvrir une nouvelle
manière de dessiner. En effet je n'ai jamais vraiment touché au pixel art.
Ensuite les problèmes que nous allons obligatoirement rencontrer vont me permettre d'améliorer
mes compétences en programmation et de découvrir de nouvelles notions. De plus c'est un travail de
groupe. N'ayant jamais fait un projet de cette ampleur et n'ayant jamais été chef d'un quelconque
groupe, je vais découvrir en même temps la gestion d'une équipe et le travail d'équipe sur un projet
de cette taille.</p></li>
<li><br><h3>Nicolas L.</h3>
<p style="text-indent: 40px">Mes débuts dans l'informatique remontent à lafin de mes années de collège, où j'ai suivi des cours en
ligne pour apprendre le C. Je ne suis cependant jamais allé plus loin que les pointeurs, manquant peut-
être de motivation. Néanmoins, je restais intéressé par les jeux vidéo en général, et par les nouvelles
technologies plus globalement. Je suis très motivé par ce projet et par mon année d'études car, après
une année de prépa générale peu fructueuse, je sais que ma vocation se trouve dans l'informatique.<br>
    Il peut être intéressant d'évoquer la variété de domaines abordés dans la création d'un jeu vidéo :
des graphismes au code en passant par les sons, sans oublier l'inventivité nécessaire, de nombreuses
connaissances sont utiles pour mener à bien le projet. Même si je ne participe pas activement dans
chaque domaine, je peux quand même m'y intéresser et augmenter mes compétences.</p></li>
</ul>
</div>
</section>
</div>
{% endblock %}
