{%extends "../base.html"%}
{% block content%}
    <h2>La génèse du jeu</h2>
   <p1>The Believer's Quest est un jeu de type rogue-like hybride 2D crée sous Unity. Le rogue-like est un genre de jeux vidéo
dont le gameplay est inspiré de Rogue, sorti sur Berkeley Unix en 1980. Le principe est généralement
d'explorer un donjon dont les salles sont générées de manière algorithmique.
 </br>Nous nous sommes inspirés de jeux comme The Binding of Isaac, Dead Cells ou encore Enter The
Gungeon. Certains membres du groupe ayant déjà joué à ce type de jeu, et le concept étant original
nous avons décidé de nous orienter vers cette idée. L'organisation avec des salles carrées provient
notamment de Isaac, quant au système d'armes et d'objets il nous est inspiré de jeux comme Enter
The Gungeon.
</br>Le joueur évoluera donc dans un donjon composé de 6 étages, chacun composé de plusieurs
salles générées de maniére aléatoire, sauf le dernier qui ne sera composé que d'une salle de boss. Le
joueur pourra choisir le nom de son personnage.
Il y aura 4 types de salles : les salles normales, les salles de coffre, le magasin, la salle du boss
d'étage. Dans les salles normales, le joueur affrontera des ennemis qui, lorsqu'il les aura battus, lui
fourniront de l'argent qui lui permettra d'acheter de l'équipement et des objets, et donc d'améliorer ses
chances de descendre plus bas dans le donjon. Le magasin permettra au joueur d'acheter de nouvelles
armes et de nouveaux objets. Les salles de coffre contiendront un coffre nécessitant une clé pour être
ouvert. A l'intérieur le joueur pourra trouver une arme ou un objet aléatoire. Ce type de salle ne sera
pas généré aléatoirement. Dans la salle du boss, le joueur affrontera le boss de l'étage. S'il gagne il a
alors accès à l'étage suivant.</p1>
{% endblock %}
