<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}The Believer's Quest{% endblock %}</title>
		<meta charset="utf-8" />
		{% load static %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/TBQv2.ico' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static '/css/noscript.css' %}" /></noscript>
	</head>
<body class="is-preload">

	{% block content %}

   {% endblock %}
		<!-- Footer -->
		<footer id="footer" class="wrapper style3-alt">
			<h2><br><center>Contactez nous!</center></h2>
				<div class="inner"><center>
				<div class="split style2">
						<section>
							<h3>Une question? Un commentaire?</h3>
							<p><a href="/contact"><u>Cliquez ici</u></a> pour nous envoyer directement votre message!</p>
						</section>
						<section>
							<ul class="contact">
								<li>
									<h3>Email pro</h3>
									<p>msn2.tbq@gmail.com</p>
								</li>
								<li>
									<h3>Réseaux sociaux</h3>
									<ul class="icons">
										<li><a href="https://www.facebook.com/TheBelieversQuest/" class="fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/thebelieversquest/" class="fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
									</ul>
								</li>
							</ul>
						</div></center>
				</div>
				   <section><center>© Website designed by MSN² & HTML5 UP</center></section>
		</footer>

		<!-- Scripts -->
		{%load static%}
			<script src="{% static '/js/jquery.min.js' %}"></script>
			<script src="{% static '/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static '/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static '/js/browser.min.js' %}"></script>
			<script src="{% static '/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/js/util.js' %}"></script>
			<script src="{% static '/js/main.js' %}"></script>

	</body>
</html>
