body {
  flex-flow: row wrap;
}

h1 {
  color: darkcyan;
  font-family: 'knights_quest', inherit;
  font-size: 6em ;
  text-align : center;
}
h2{
  color:cyan;
  font-size: 2em ;
  display : inline-block;
  margin-left: 150px;
}

@font-face {
  font-family: 'knights_quest';
  src : url("Knght Quest.ttf");
}

html {
  font-family: 'knights_quest',inherit;
  background:white;
  margin-color: white;

}
footer{
  color:white;
}

#navext {
  margin-left: 100px;
  margin-right: 100px;
  flex: 1 0 100%;
  padding : 10px ;
  background: darkgrey;
  text-align: center;
}
#navext ul li{
  margin: 0px 20px;
  display : inline-block;
  color : black;
}

#jeu section {
    flex: 1 0 80%;
    height: 80vh;
    overflow-y: scroll;
  }

p1 {
	color : black;
  margin-left: 125px;
  margin-right: 125px;
  display : inline-block;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #FF0000;
}

a:visited {
  color:#FF0000;
}

a:active {
  background: lightgrey;
  color: #CD00AA;
}
